<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Backbone Pizza!</title>
  <script src="js/vendor/modernizr-2.5.3.js"></script>
  <script src="js/vendor/jquery-1.7.1.min.js"></script>
  <script src="js/vendor/underscore-min.js"></script>
  <script src="js/vendor/backbone.js"></script>
  <script src="js/vendor/backbone.localStorage.js"></script>
  <script src="js/pizza.js"></script>
  
  <script type="text/template" id="ingredient-template">
    <td class="title" style="width: 200px;"><%= title %></td>
    <td><a href="#">add to pizza</a></td>
  </script>

  <script type="text/template" id="pizza-template">
    <span class="title"><%= title %></span>
  </script>
  
</head>
<body>  

  <div id="pizzaapp">
    <div class="title">
      <h1>Backbone Pizza!</h1>
    </div>
    
    <div id="ingredients_pizza"></div>
    <table id="ingredients_menu"></table>
  </div>


</body>
</html>
