<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Backbone Sandbox</title>
  <script src="js/vendor/modernizr-2.5.3.js"></script>
  <script src="js/vendor/jquery-1.7.1.min.js"></script>
  <script src="js/vendor/underscore-min.js"></script>
  <script src="js/vendor/backbone.js"></script>
  <script src="js/vendor/backbone.localStorage.js"></script>
  <script src="js/pizza.js"></script>
  
  <script type="text/template" id="ingredient-template">
    <span class="title"><%= title %></span>
    <a href="#">add</a>
  </script>

  <script type="text/template" id="pizza-template">
    <span class="title"><%= title %></span>
    <a href="#">add</a>
  </script>
  
</head>
<body>  

  <div id="pizzaapp">
    
  </div>


</body>
</html>
